<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header card-header-green"> <!-- Changed class -->
                                <h2 class="card-title">Add breakfast</h2>
                                <p class="card-category">Complete details</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width mt-5">
                                                <input matInput placeholder="How much calories">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width mt-2">
                                                <input matInput placeholder="How much proteines" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width mt-2">
                                                <input matInput placeholder="How much carbohydrates" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width mt-2 mb-5">
                                                <input matInput placeholder="How much fats" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-green pull-right">Submit</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
  
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header card-header-green"> <!-- Changed class -->
                                <h2 class="card-title">Add lunch</h2>
                                <p class="card-category">Complete details</p>
                            </div>
                            <div class="card-body">
                                <form>
                                  <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-5">
                                            <input matInput placeholder="How much calories">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-2">
                                            <input matInput placeholder="How much proteines" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-2">
                                            <input matInput placeholder="How much carbohydrates" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-2 mb-5">
                                            <input matInput placeholder="How much fats" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-green pull-right">Submit</button>
                                <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
  
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header card-header-green"> <!-- Changed class -->
                                <h2 class="card-title">Add dinner</h2>
                                <p class="card-category">Complete details</p>
                            </div>
                            <div class="card-body">
                                <form>
                                  <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-5">
                                            <input matInput placeholder="How much calories">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-2">
                                            <input matInput placeholder="How much proteines" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-2">
                                            <input matInput placeholder="How much carbohydrates" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width mt-2 mb-5">
                                            <input matInput placeholder="How much fats" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-green pull-right">Submit</button>
                                <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of row for profile edit cards -->
            </div>
        </div>
    </div>
  </div>
  