.card-header-custom {
    background-color: #94b389; /* Set card header background color to the desired green */
    color: white; /* Change text color for better contrast */
}

.card-header-custom2 {
    background-color: #5b7a54 ; /* Set card header background color to the desired green */
    color: white; /* Change text color for better contrast */
}
.card-header-custom3 {
    background-color: #ff6f61    ; /* Set card header background color to the desired green */
    color: white; /* Change text color for better contrast */
}

 
.card-header-custom4 {
    background-color: #ff9a8b     ; /* Set card header background color to the desired green */
    color: white; /* Change text color for better contrast */
}
