<div class="account-container">
    <div class="sidebar">
      <div class="profile">
        <img src="assets/avatar-placeholder.png" alt="Profile Picture" class="profile-pic" />
        <h3>Irakli Talavadze</h3>
        <p>ikakodesign@gmail.com</p>
      </div>
      <ul class="menu">
        <li class="menu-item active">Personal Information</li>
        <li class="menu-item">Billing & Payments</li>
        <li class="menu-item">Order History</li>
        <li class="menu-item">Gift Cards</li>
      </ul>
    </div>
    <div class="main-content">
      <div class="header">
        <h1>Personal Information</h1>
        <p>
          Manage your personal information, including phone numbers and email
          address where you can be contacted.
        </p>
        <button class="sign-out">Sign out</button>
      </div>
      <div class="info-cards">
        <div class="card">
          <h3>Name</h3>
          <p>Irakli Talavadze</p>
          <i class="material-icons">person</i>
        </div>
        <div class="card">
          <h3>Date of Birth</h3>
          <p>07 July 1993</p>
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card">
          <h3>Country Region</h3>
          <p>Georgia, Tbilisi</p>
          <i class="material-icons">public</i>
        </div>
        <div class="card">
          <h3>Language</h3>
          <p>English (UK)</p>
          <i class="material-icons">language</i>
        </div>
        <div class="card">
          <h3>Contactable at</h3>
          <p>ikakodesign@gmail.com</p>
          <i class="material-icons">mail_outline</i>
        </div>
      </div>
    </div>
  </div>
  