  <div class="appointment-section">
    <div class="left-panel">
      <h2>Make an <span class="highlight">Appointment</span></h2>
      <p>
        Schedule your appointment with ease. Connect with experts and get personalized assistance for your needs.
         Your health and convenience are our priority.
      </p>
      <div class="buttons">
        <button class="learn-more">Learn More</button>
        <button class="get-doctor">Get Doctor</button>
      </div>
    </div>
    <div class="right-panel">
      <h2>It's Quick & Easy</h2>
      <form>
        <div class="form-group">
          <input type="text" placeholder="First Name" />
          <input type="text" placeholder="Last Name" />
        </div>
        <input type="text" placeholder="Contact" />
        <textarea placeholder="Message"></textarea>
        <div class="form-group">
           
                <div class="floating-label">
                    <input type="date" id="birthday" required>
                    <label for="birthday">Date From</label>
                </div>
                
         
            <div class="floating-label">
                <input type="date" id="birthday" required>
                <label for="birthday">Date To</label>
            </div>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  
  <div class="icons-section">
    <div class="icon"><img src="./assets/img/calendar.png" alt="Calendar" /></div>
    <div class="icon"><img src="./assets/img/clock-icon.png" alt="Clock" /></div>
    <div class="icon"><img src="./assets/img/list-icon.png" alt="List" /></div>
    <div class="icon"><img src="./assets/img/more-icon.png" alt="More" /></div>
  </div>
  