<div class="profile-container">
    <!-- Header Section -->
    <header class="profile-header">
      <h1 class="profile-name">Louay DHKAR</h1>
    </header>
    <hr class="separator" />

    <!-- Information Block Section -->
    <section class="profile-block">
      <div class="profile-image">
        <img src="/assets/img/louuuu.jpg" alt="Profile Photo" />
      </div>
      <div class="vertical-line"></div>
      <div class="profile-info">
        <div>
        <div class="info-item">
          <strong>Date of birth:</strong>
          <span>03/25/2001</span>
        </div>
        <div class="info-item">
          <strong>Nationality:</strong>
          <span>Tunisian</span>
        </div>
        <div class="info-item">
          <strong>Email address:</strong>
          <span>dhkarrr@gmail.com</span>
        </div>
    </div>
        <div>
        <div class="info-item">
          <strong>Address:</strong>
          <span>Gabes Sem7a</span>
        </div>
        <div class="info-item">
          <strong>Phone number:</strong>
          <span>+216 56 948 166</span>
        </div>
        <div class="info-item">
          <strong>Weight:</strong>
          <span>81(+3kg)</span>
        </div>
    </div>
      </div>
    </section>
  
    <hr class="separator" />
  
    <!-- Summary Section -->
    <footer class="profile-summary">
      <p>
        Hard working business management graduate with proven leadership,
        organisational and sales skills seeking to apply my abilities to the
        position of account manager.
      </p>
    </footer>
  
    <!-- Background Circles -->
    <div class="background-circles">
        <div class="circle green-circle"></div>
        <div class="circle green-circle"></div> 
         <div class="circle green-circle"></div>
        <div class="circle green-circle"></div>
        <div class="circle green-circle"></div>
    </div>
  </div>
  